
h1{ 
    font-size: x-large;
    width: 500px;
    height: 165px;
    background-color: red;
    position: relative;    
    animation-name: example; animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite ;
    animation-delay: 0s;
    animation-direction: alternate;
}
@keyframes example {
    from {top: 100px; bottom: 0px; left: 300px;}
    to {top: 200px; bottom: 100px ; left: 300px;}

}
h2{line-height: 0px;}
h3{ font-size: xx-large; line-height: 1px;}
h4{ font-size: large; line-height: 1px;}
